<footer class="bg-gray-100 py-5">
 <div class="container  ">
    <h2 class="font-bold text-2xl">Get the FreshCart app</h2>
    <p class="text-xl">We will send you a link,open it on your phone to dwanload the app.</p>

    <div class="form-footer  mt-2">
        <input class="w-full border-black rounded" type="email" placeholder="Email.." aria-label="default input example">
        <button class="rounded  bg-main px-3 mt-2 py-2 text-white">Share App Link</button>


    </div>

    <div class="line mt-4 mb-3"></div>
    <div class="flex justify-between items-center flex-wrap gap-3">
        <div class="parnter flex items-center gap-2">
            <h5 class="text-xl font-bold">Payment partners</h5>
                <img src="assets/images/amazon-pay.png" alt="amazon" >
                <img src="assets/images/American-Express-Color.png" alt="American" >
                <img src="assets/images/mastercard.webp" alt="mastercard" >
                <img src="assets/images/paypal.png" alt="paypal" >
    
           
        </div>
        <div class="store-links flex  items-center gap-2  ">
            <h5 class="text-xl font-bold  ">Get deliveries with FreshCart</h5>
          
                <img src="assets/images/get-apple-store.png" alt="appstore" >
                <img src="assets/images/get-google-play.png" alt="googleplay" >
        </div>
    </div>


    <div class="line mt-4 mb-3"></div>

 </div>

 
</footer>