<nav class="bg-gray-100 border-gray-200 dark:bg-gray-900 shadow ">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
        <img src="assets/images/freshcart-logo.svg" alt="">

      </span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class=" font-bold flex flex-col   mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-3 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

        @if(islogin==true)
        {
          <li>
            <a
              class="block py-2 px-3 text-gray-900 rounded   md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent " routerLink="home" routerLinkActive="bg-main text-white">Home</a>
          </li>
          <li>
            <a 
              class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="product" routerLinkActive="bg-main text-white">Products</a>
          </li>
          <li>
            <a 
              class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="categories" routerLinkActive="bg-main text-white">Categories</a>
          </li>
          <li>
            <a 
              class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="brands" routerLinkActive="bg-main text-white">Brands</a>
          </li>
          <li>
            <a 
              class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="cart" routerLinkActive="bg-main text-white">Cart</a>
          </li>


          <li>
            <a 
              class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="allorders" routerLinkActive="bg-main text-white">Order</a>
          </li>

      
          
        }
        
      </ul>
    </div>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
      class="font-bold flex flex-col  items-center justify-center  mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">

       

        <li class="flex gap-4 nav-icon">

          <a href="#"  class="flex justify-center items-center"> <i class="fa-brands fa-twitter"></i></a>
          <a  href="#" class="flex justify-center items-center"> <i class="fa-brands fa-linkedin"></i></a>
          <a  href="#" class="flex justify-center items-center"><i class="fa-brands fa-instagram "></i></a>

         

        </li>


        @if(islogin==false)
        {
          <li >
            <a 
              class="block  text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"  routerLink="register" routerLinkActive="bg-main text-white">Regsiter</a>
          </li>
          <li>
            <a 
              class="block  text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" routerLink="login" routerLinkActive="bg-main text-white">Login</a>
          </li>
        }
     
        @else {
          
          <li>
            <a 
            (click)="_AuthService.logOut()" class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          
            <i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-2x text-green-500 cursor-pointer"></i>
          </a>
          </li>

          <li>

            <a class="relative">
              <i class="fa fa-cart-shopping text-main fa-2xl"></i>
              <div class="bg-gray-400 rounded-full absolute  row justify-center items-center top-[-10px] start-7 px-1 py-1   ">{{z}}</div>

            </a>
         
          </li>

          <li>
            <a   routerLink="wishlist"
             class="block py-2 px-3 text-gray-900 rounded  md:border-0  p-2 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          
             <i class="fa-solid fa-heart fa-2xl text-main"></i>          </a>
          </li>
        }


       
   
      </ul>
    </div>
  </div>
</nav>





    