<div class="w-3/4 mx-auto">
    @if(errMaessage)
    {
     <div class="alert-danger p-0 mt-5">

         <p class="p-0 font-bold text-white">{{errMaessage}}</p>
        
            </div>
    }

@if(emailConfirmFlag)
{
  
    <h4 class="text-xl font-semibold my-3">Email Confirm : </h4>
    <form  [formGroup]="emilForm" (ngSubmit)="submitEmailForm()">

     

        <label for="email">Email : </label>
        <input type="email" class="w-full rounded border-black" id="email " formControlName="email">

            @if(emilForm.get('email')?.errors && emilForm.get('email')?.touched)
            {
                <div class="alert-danger">

                    @if(emilForm.get('email')?.errors?.['required'])
                    {
                        <p>Email is required</p>

                    }

                    @else if (emilForm.get('email')?.errors?.['email']) {
                        <p>Eamil not valid</p>

                    }
                </div>
            }
        <button class="btn-main block ms-auto" [disabled]="emilForm.invalid">

          
            @if(isLoading)
            {
                <span>
                    <i class="fa fa-spin fa-spinner"></i>
                  </span>
            }
            @else {
                <span>Send Email</span>    

            }
       
        
        </button>
    </form>

}

    <!------------------code form------------------------->

@if(codeConfirmFlag) {

    <app-code-form (codeformflag)="recieveDatafromchild($event)" (errMaessage)="recieveMessage($event)"></app-code-form>
 
}




    <!------------------New password form------------------------->

    @if(newPasswordFlag) {

     <app-newpasssword [currentemail]="emilForm.value.email" (errMaessage)="recieveMessage($event)"></app-newpasssword>
    }
</div>
